{
    admin off
    auto_https off
    grace_period 35s

    log {
        output {$CADDY_LOG_OUTPUT}
        format json
        level {$CADDY_LOG_LEVEL}
    }
}

:80 {
    root * /app/public
    bind 0.0.0.0
    header -Server
    php_fastcgi {$CADDY_CGI_SERVER_HOST}:{$CADDY_CGI_SERVER_PORT}
    file_server
}
